
#page-landing {
    background: linear-gradient(329.54deg, #8409a3 0%, #12616b 100%);

    text-align: center;
    min-height: 100vh;

    display:flex;
    
    
} 

#conteiner
{
    margin: auto;

    width: min(85%, 112rem);
}

.location, h1, .visit p 
{
    height: 16vh;
}

.visit a 
{
    width: 5rem;height: 5rem;
    background: rgb(121, 246, 102);

    border: none;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    transform: background 200ms;
    animation-delay: 250ms;
}

.visit a:hover
{
    background: red;
}

#logo 
{
    animation-delay: 50ms;
}

.location
{
    animation-delay: 100ms;
}

main h1
{
    font-size: clamp(4rem, 8vw, 8.4rem);
    animation-delay: 150ms;
}

.visit p 
{
    animation-delay: 200ms;
}
/*versao de pc*/
@media(min-width: 760px)
{
    #conteiner
    {
        padding: 5rem 2rem;
        background: url("../images/bg.svg") no-repeat 80% / clamp(30rem, 54vw, 56rem);
    }

    header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location, h1, .visit p
    {
        height: initial;
        text-align: initial;
    }

    .location
    {
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1
    {
        font-weight: bold;
        line-height: .88;

        margin: clamp(10%, 9vh, 12%) 0 4rem;

        width: min(300px, 80%);
    }

    .visit
    {
        display: flex;
        align-items: center;
        justify-content:space-between;
    }

    .visit p
    {
        font-size: 2.4rem;
        line-height: 1.5;
        width: clamp(20rem, 20vw, 30rem);
    }

    .visit a
    {
        margin: initial;
    }
}