<!-- comando de comentario html (HyperTextMarkupLanguage) -->

<!DOCTYPE html>
<html lang="pt-br">
  <!-- TAGS head = meta, title, link, style;
        ========================================================================================= 
        TAGS boody = header = img, div, strong, p.          main = h1, section, p, a, img. -->
  <head>
    <!-- fonte acentuaçao -->
    <meta charset="UTF-8" />
    <!-- ajuste para resoluçoes menores como smartphones tablets etc -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- titulo da pagina (q fica na area superior nas abas) -->
    <title>Happy</title>
    <!-- icone da pagina( tbm na area superior nas abas) -->
    <link
      rel="icon"
      href="/images/logo-icon.png"
    />

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">


    
  </head>

  <body>
    <div id="page-landing">
    <div id="conteiner">
            <!-- cabeçalho -->
    <header>
      <!--imagem de destaque -->
      <!-- alt é alternativa oq vai aparecer caso a imagem nao carrega ou oq a IA do google vai interpretar-->
    <img 
      class="animate-up"
      id="logo"
      src="/images/logo.svg" 
      alt="Logo marca da Happy" 
    />
      <!-- strong = negrito p= paragrafo-->
    <div class="location animate-up">
      <strong>São Paulo</strong>
      <p>
        São Vicente
      </p>
    </div>
  </header>
      <!-- h1 texto comum com fonte maior q os de+ -->
  <main>
      <h1 class="animate-up">Leve felicidade para o mundo</h1>
      <!-- outra forma de texto mas com hipertexto link ou hypertext -->
      <section class="visit">
          <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
          <a href="/orphanages">
              <img src="/images/arrow.svg"  alt="Ir para o mapa" title ="ver locais na região">
          </a>
          
      </section>
  </main>

    
  </body>
</html>
